/*
    hub.scss
    Author: Ryan Joseph
    Version: 1.1
    Date: 7/11/2018
*/

@mixin centered {
    margin-left: auto;
    margin-right: auto;
}

body {
	background-color:#ffffff;
	font-family:helvetica;
    margin: 0;	
    padding: 0;
}

h3, h4, h5, h6{
	color:#3C4663;
}
a{
	font-weight:bold;
	color:#cd664b;	
	text-decoration:none;
}
a:hover{
	color:#FF8362;	
	text-decoration:underline;	
}

header{
	background-color:#c5c5c5;	
	height:120px;
	overflow:auto;	
    padding-top:25px;
    border-bottom:solid 5px #3C4663;
    border-top:solid 6px #cd664b;
    
    h1:nth-of-type(1){
        font-size:15px;
        margin-top:10px;
        color:#3C4663;	
    }

    h2:nth-of-type(1){
        color:#3C4663;	
        position:relative;
        top:30px;
        font-size:26px;
        margin:0px;
    }
    
    img{
        height:100px;	
        float:left;
        margin:10px;
    }
}

.contblock{
	background-color:#efefef;
	margin:10px;		
	padding:10px;	
	border:dotted 2px #BB7365;
	border-style:dotted solid solid dotted;
	border-width:1px 2px 2px 1px;
    overflow:auto;

    img[alt]{
        border:dotted 2px #3C4663;
        border-style: dotted solid solid dotted;	
        margin:0px 10px 0px 15px;
        padding:2px;
    }
}

.sitemap {
    @include centered();
	width: 70%;
}

.siteH3{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10%;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

footer{
	background-color:#fae5e0;
	height:30px;
	text-align:center;	
	border-bottom:solid 5px #6D748C;
    border-top:dotted 1px #6D748C;
    
    ul{
        list-style-type:none;
        position:relative;
        bottom:10px;
        margin-left:auto;
        margin-right:auto;
        width:350px;

        a{
            font-size:13px;
            text-decoration:none;	
        }

        li{
            float:left;	
            padding-right:80px;
        }
    }
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .wrapper{
        flex-direction: column;
    }
}